*.obj
*Makefile*
amf/public/proj/cmake/samples/vs2017/ZERO_CHECK.vcxproj
amf/public/proj/cmake/samples/vs2017/
amf/public/proj/Qt/build*
amf/public/proj/cmake/.vscode/
amf/public/proj/cmake/build*
amf/public/proj/cmake/vs2017/
amf/public/src/core/metal/_build/
amf/public/proj/cmake/samples/build/
amf/public/proj/cmake/mac-gnumake/
